version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: plataforma_postgres
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: plataforma
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: plataforma_redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
